body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  grid-auto-rows: minmax(150px, auto);
  /* grid-template-columns:  */
  height: 100vh;
  background: #cfdbde;
  color: #134f5c;
  justify-content: center;
  grid-gap: 0.5em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.holder {
  /*******/
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  /*******/
}

/******/

.holder input,
.holder textarea {
  padding: 0.5em;
}

/* .entry {
  background: rgba(133, 32, 192, 0.4);
} */

#conditions {
  display: flex;
  flex-direction: row;
}

#conditions p {
  margin: 0;
}

#conditions img {
  width: auto;
  height: 2em;
}

/********/

.entry {
  background: rgba(59, 74, 107, 0.4);
}

/* #entryHolder {
}

#date {
}

#temp {
}

#content {
} */

.headline {
  font-size: 4em;
}
.title {
  padding: 10px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 27px;
}

input {
  display: block;
  height: 60px;
  width: 320px;
  background: #b97070;
  color: #ffffff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
}

button {
  width: 100%;
  height: 100px;
  background: #16537e;
  color: #ffffff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
  text-align: center;
}
h1 {
  font-size: 36px;
}

textarea {
  background: #b97070;
  color: #f0d43a;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  margin-bottom: 10px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
  font-family: "Oswald", sans-serif;
}
